*, *::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding:0;
}

body {
 font-family: var(--font-main);
 font-size: 16px;
 line-height: 1.6;
 color: var(--color-text);
 background-color: var(--color-bg);
}

.container {
    width: 100%;
    margin:0 auto;
    max-width: 1000px;
}

:root{
    --color-primary: #00e1ff;
    --color-primary-dark: #015A66;
    --color-accent: #00e7c8;
    --color-bg: #ffffff;
    --color-text: #b91a1a;
    --color-muted: #0ea300;
    --color-white: #ffffff;
    --color-border: #ddd900;
    --font-main: Arial, Helvetica, sans-serif;
    --font-heading: Georgia, 'Times New Roman', serif;
}

header {
 background-color: var(--color-primary);
 color: var(--color-border);
 padding: 30px 20px 20px;
 text-align: center;
}

header img {
    border-radius: 50%;
    display: block;
    margin: 20px auto;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul {
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style: none;
}

.navbar li {
    margin: 0 10px;
}

img {
    width: 10;
    height: 10;
    border-radius: 50%;
    border: 1px solid whitesmoke;
    text-align: left;
}

nav a{
    font-family:"Playwrite NO", cursive;
    color: var(--color-white);
    text-decoration: none;
    margin: 0 8px;
    padding: 5px 10px;
    border-radius: 12px;
}

.post {
 background-color: var(--color-white);
 padding: 25px;
 margin-bottom: 20px;
 border: 1px solid var(--color-border);
 border-radius: 8px;
}


h1{
    font-family: "Sekuya", system-ui;
    color: var(--color-border);
    margin-bottom: 10px;
}

aside {
 background-color: #F1F5F9;
 padding: 20px;
 border: 1px solid var(--color-border);
 border-radius: 8px;
 margin-bottom: 20px;
}

.habilidades{
    margin-top: 70px;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.habilidades table{
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: o 4px 6px rgba(0, 0, 0, 0.2);
}

.habilidades td{
    padding:10px;
    text-align: left;
}

.progress-bar{
    width: 100%;
    height: 20px;
    background-color: #00e1ff;
    border-radius: 10px;
}

.html5{width: 85%; background-color: #00e1ff;}
.css3{width:70%; background-color: #b91a1a;}
.JavaScript{width: 60%; background-color: #ddd900;}
.git-github{width: 45%; background-color: #0ea300;}
.react{width: 30%; background-color: #015A66;}

.ruta ol{
    padding-left: 20px;
    list-style-type:decimal;
}